<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Notepad{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script href="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <!-- <script src="/jquery-3.2.1.min.js"></script>
        <script src="/bootstrap.min.js"></script> -->

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}
    </head>

    <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #A9D0F5;">
            <a class="navbar-brand" href="{{ path('app_homepage') }}">
                {#<img src="{{ asset('') }}" width="30" height="30" class="d-inline-block align-top" alt="">#}
                Notepad</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a class="nav-item nav-link active" href="{{ path('note_list') }}">Notes</a>
                    <a class="nav-item nav-link active" href="{{ path('category_list') }}">Categories</a>
                </ul>

                <form class="form-inline my-2 my-lg-0" action="/notes/search" method="POST">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search tag" name="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </nav>

        <!-- CONTENT -->
        {% block body %}{% endblock %}

        <!-- FOOTER -->
        <footer class="footer">
            <div class="container text-center">
                <span class="text-muted">An educational project made by <a href="https://github.com/benwe95">Benoît Wery <i class="fab fa-github" style="color: red;"></i></a>| 2018</span>
            </div>
        </footer>

    </body>
</html>